.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.stats-table, .record-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;  /* Forces columns to obey width */
}

.stats-table th, .record-table th,
.stats-table td, .record-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    white-space: nowrap; /* Prevents text from wrapping */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
    background-color: inherit !important;
}

.bg-very-red {
    background-color: #d73027 !important; /* Deep Red */
    color: white !important;
    text-align: center;
}

.bg-light-red {
    background-color: #fc8d59 !important; /* Lighter Red */
    color: black !important;
    text-align: center;
}

.bg-orange {
    background-color: #fee08b !important; /* Orange */
    color: black !important;
    text-align: center;
}

.bg-yellow {
    background-color: #ffffbf !important; /* Yellow */
    color: black !important;
    text-align: center;
}

.bg-light-green {
    background-color: #d9ef8b !important; /* Light Green */
    color: black !important;
    text-align: center;
}

.bg-green {
    background-color: #91cf60 !important; /* Green */
    color: black !important;
    text-align: center;
}

.bg-very-green {
    background-color: #1a9850 !important; /* Dark Green */
    color: white !important;
    text-align: center;
}









